@import './config.scss';
@import './elementUI.scss';
@import './svg.scss';
@import './normalize.scss';

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

.block-space-30 {
	height: 30px;
}
